[submodule "datasets/ffr/charts"]
	path = datasets/ffr/charts
	url = git@hf.co:datasets/stepmanai/ffr_charts
	branch = main
[submodule "models/ffr/difficulty_model"]
	path = models/ffr/difficulty_model
	url = git@hf.co:stepmanai/ffr_difficulty_model
	branch = main
